{% extends "base.html" %}
{% load i18n %}

{% block main %}

  <style>
    .wrapped-word {
      word-wrap: break-word;
      min-width: 100px;
      max-width: 130px;
    }
  </style>

  <div>
    <h1 class="text-left mb-4">{% translate 'Labels' %}</h1>
    <div class="row table-responsive-md">
      <div class="col-12 text-left mb-3">
        <a class="btn btn-outline-success btn-sm col-auto text-uppercase" href="{% url 'label_create' %}">{% translate 'Create label' %}</a>
      </div>
      <table class="table table-hover mx-1 align-middle">
        <thead>
          <tr>
            <th class="table-light">{% translate 'ID' %}</th>
            <th class="table-light">{% translate 'Label name' %}</th>
            <th class="table-light">{% translate 'Creation date' %}</th>
            <th class="table-light">{% translate 'Actions' %}</th>
          </tr>
        </thead>
        {% for label in object_list %}
          <tr>
            <td>{{ label.id }}</td>
            <td class="wrapped-word">{{ label.name }}</td>
            <td>{{ label.created_at }}</td>
            <td>
              <a href="{% url 'label_update' id=label.id %}" class="btn btn-link d-flex btn-sm mb-1" rel="nofollow">{% translate 'Update' %}</a>
              <a href="{% url 'label_delete' id=label.id %}" class="btn btn-link d-flex btn-sm mt-1" rel="nofollow">{% translate 'Delete' %}</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
