{% extends "base.html" %}
{% load i18n %}

{% block main %}

  <style>
    .wrapped-word {
      word-wrap: break-word;
      min-width: 100px;
      max-width: 130px;
    }
  </style>

  <!-- Users -->
  <div class="mb-5">
    <h1 class="text-left mb-3">{% translate 'Search results' %}</h1>
    <button class="btn btn-link text-left btn-sm mb-5 btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsers, #collapseStatuses, #collapseLabels, #collapseTasks" aria-expanded="true" aria-controls="collapseUsers collapseStatuses collapseLabels collapseTasks">
      {% translate 'Expand all' %}
    </button>

    <h3 class="text-left mb-4">{% translate 'Users' %}</h3>
    <button class="btn btn-link text-left btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUsers" aria-expanded="true" aria-controls="collapseUsers">
      {% translate 'Expand' %}
    </button>
    <hr class="ms-1">
    <div class="row table-responsive-md collapse" id="collapseUsers">
      <table class="table table-hover table-borderless ms-3 me-1 align-middle">
        <thead>
          <tr>
            <th class="table-light">{% translate 'ID' %}</th>
            <th class="table-light">{% translate 'Username' %}</th>
            <th class="table-light">{% translate 'Full name' %} </th>
            <th class="table-light">{% translate 'Creation date' %}</th>
            <th class="table-light">{% translate 'Actions' %}</th>
          </tr>
        </thead>
        {% for user in object_list %}
          <tr>
            <td>{{ user.id }}</td>
            <td class="wrapped-word">{{ user.username}}</td>
            <td class="wrapped-word">{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.date_joined }}</td>
            <td>
              <a href="{% url 'user_update' id=user.id %}" class="btn btn-link d-flex btn-sm mb-1" rel="nofollow">{% translate 'Update' %}</a>
              <a href="{% url 'user_delete' id=user.id %}" class="btn btn-link text-left btn-sm mt-1 btn-block" rel="nofollow">{% translate 'Delete' %}</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <!-- Statuses -->
  <div class="mb-5">
    <h3 class="text-left mb-4">{% translate 'Statuses' %}</h3>
    <button class="btn btn-link text-left btn-sm btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStatuses" aria-expanded="true" aria-controls="collapseStatuses">
      {% translate 'Expand' %}
    </button>
    <hr class="ms-1">
    <div class="row table-responsive-md collapse" id="collapseStatuses">
      <table class="table table-hover table-borderless ms-3 me-1 align-middle">
        <thead>
          <tr>
            <th class="table-light">{% translate 'ID' %}</th>
            <th class="table-light">{% translate 'Status name' %}</th>
            <th class="table-light">{% translate 'Creation date' %}</th>
            <th class="table-light">{% translate 'Actions' %}</th>
          </tr>
        </thead>
        {% for status in statuses %}
          <tr>
            <td>{{ status.id }}</td>
            <td class="wrapped-word">{{ status.name }}</td>
            <td>{{ status.created_at }}</td>
            <td>
              <a href="{% url 'status_update' id=status.id %}" class="btn btn-link d-flex btn-sm mb-1" rel="nofollow">{% translate 'Update' %}</a>
              <a href="{% url 'status_delete' id=status.id %}" class="btn btn-link text-left btn-sm mt-1 btn-block" rel="nofollow">{% translate 'Delete' %}</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <!-- Labels -->
  <div class="mb-3">
    <h3 class="text-left mb-4">{% translate 'Labels' %}</h3>
    <button class="btn btn-link text-left btn-sm btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLabels" aria-expanded="true" aria-controls="collapseLabels">
      {% translate 'Expand' %}
    </button>
    <hr class="ms-1">
    <div class="row table-responsive-md collapse" id="collapseLabels">
      <table class="table table-hover table-borderless ms-3 me-1 align-middle">
        <thead>
          <tr>
            <th class="table-light">{% translate 'ID' %}</th>
            <th class="table-light">{% translate 'Label name' %}</th>
            <th class="table-light">{% translate 'Creation date' %}</th>
            <th class="table-light">{% translate 'Actions' %}</th>
          </tr>
        </thead>
        {% for label in labels %}
          <tr>
            <td>{{ label.id }}</td>
            <td class="wrapped-word">{{ label.name }}</td>
            <td>{{ label.created_at }}</td>
            <td>
              <a href="{% url 'label_update' id=label.id %}" class="btn btn-link d-flex btn-sm mb-1" rel="nofollow">{% translate 'Update' %}</a>
              <a href="{% url 'label_delete' id=label.id %}" class="btn btn-link text-left btn-sm mt-1 btn-block" rel="nofollow">{% translate 'Delete' %}</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

  <!-- Tasks -->
  <div class="mt-3 pt-4 mb-3">
    <h3 class="text-left mb-4">{% translate 'Tasks' %}</h3>
    <button class="btn btn-link text-left btn-sm btn-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTasks" aria-expanded="true" aria-controls="collapseTasks">
      {% translate 'Expand' %}
    </button>
    <hr class="ms-1">

    <div class="row collapse table-responsive-md" id="collapseTasks">
      <table class="table table-hover table-borderless ms-3 me-1 align-middle">
        <thead>
          <tr>
            <th class="table-light">{% translate 'ID' %}</th>
            <th class="table-light">{% translate 'Task name' %}</th>
            <th class="table-light">{% translate 'Status' %}</th>
            <th class="table-light">{% translate 'Creator' %}</th>
            <th class="table-light">{% translate 'Assignee' %}</th>
            <th class="table-light">{% translate 'Creation date' %}</th>
            <th class="table-light">{% translate 'Actions' %}</th>
          </tr>
        </thead>
        {% for task in tasks %}
          <tr>
            <td>{{ task.id }}</td>
            <td class="wrapped-word"> <a href={% url "task_show" task.id %}>{{ task.name }}</a></td>
            <td class="wrapped-word">{{ task.status }}</td>
            <td class="wrapped-word">{{ task.assigned_by }}</td>
            <td class="wrapped-word">{{ task.executor.first_name }} {{ task.executor.last_name }}</td>
            <td>{{ task.created_at }}</td>
            <td>
              <a href="{% url 'task_update' id=task.id %}" class="btn btn-link d-flex btn-sm mb-1" rel="nofollow">{% translate 'Update' %}</a>
              <a href="{% url 'task_delete' id=task.id %}" class="btn btn-link text-left btn-sm mt-1 btn-block" rel="nofollow">{% translate 'Delete' %}</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock %}
