{% extends "base.html" %}
{% load i18n %}

{% block main %}
<div class="container wrapper flex-grow-1">
  <h1 class="my-4">
    {% translate 'Delete task' %}
  </h1>
  <p>{% translate 'Are you sure you want to delete task' %}<span style="font-weight:bold"> {{ task.name }}</span>?</p>
  <form action="{% url 'task_delete' id=task.id %}" method="post" rel="nofollow">
    {% csrf_token %}
    <input class="btn btn-danger mt-2" type="submit" value="{% translate 'Yes, delete task' %}">
  </form>
</div>
{% endblock %}
