{% extends "base.html" %}
{% load i18n %}

{% block main %}

  <style>
    .wrapped-word {
      word-wrap: break-word;
      min-width: 100px;
      max-width: 130px;
    }
  </style>

  <div class="ms-1">
    <h1 class="text-left mb-4">{% translate 'Tasks' %}</h1>

    <div class="row justify-content-center">
      <div class="col-12 text-left mb-3">
        <a class="btn btn-outline-success btn-sm col-auto text-uppercase" href="{% url 'task_create' %}">{% translate 'Create task' %}</a>
      </div>
    </div>

    <div class="row justify-content-left col-auto col-lg-6">
      <form action="{% url 'tasks' %}" method="get" class="needs-validation" novalidate>
        <div class="form-group">
          {% csrf_token %}
          <table class="table table-hover table-borderless" required>
              {% for field in form %}
                <tr>
                  <th>{{ field.label_tag|slice:":-9" }}</th>
                  <td>{{ field }}</td>
                </tr>
              {% endfor %}
          </table>
          <div class="col-12 d-flex flex-row-reverse">
            <input class="btn btn-outline-success btn-md col-lg-3 col-md-3 col-sm-4 text-uppercase" type="submit" value="{% translate 'Filter' %}">
            <a href="{% url "tasks" %}" class="btn btn-outline-secondary btn-md col-auto me-2 text-uppercase">{% translate 'Reset' %}</a>
          </div>
        </div>
      </form>
    </div>

    <div class="row justify-content-center mt-5">
      <table class="table table-hover mx-1 table-responsive-md">
        <thead>
          <tr>
            <th>{% translate 'ID' %}</th>
            <th>{% translate 'Task name' %}</th>
            <th>{% translate 'Status' %}</th>
            <th>{% translate 'Creator' %}</th>
            <th>{% translate 'Assignee' %}</th>
            <th>{% translate 'Creation date' %}</th>
            <th>{% translate 'Actions' %}</th>
          </tr>
        </thead>
        {% for task in object_list %}
          <tr>
            <td class="align-middle">{{ task.id }}</td>
        <td class="align-middle wrapped-word"> <a href={% url "task_show" task.id %}>{{ task.name }}</a></td>
            <td class="align-middle wrapped-word">{{ task.status }}</td>
            <td class="align-middle wrapped-word">{{ task.assigned_by }}</td>
            <td class="align-middle wrapped-word">{{ task.executor.first_name }} {{ task.executor.last_name }}</td>
            <td class="align-middle">{{ task.created_at }}</td>
            <td class="align-middle">
              <a href="{% url 'task_update' id=task.id %}" class="btn btn-link d-flex btn-sm mb-1" rel="nofollow">{% translate 'Update' %}</a>
              <a href="{% url 'task_delete' id=task.id %}" class="btn btn-link d-flex btn-sm mb-1" rel="nofollow">{% translate 'Delete' %}</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

  </div>

{% endblock %}
