{% extends "base.html" %}
{% load i18n %}

{% block main %}

  <style>
    .wrapped-word {
      word-wrap: break-word;
      min-width: 100px;
      max-width: 130px;
    }
  </style>

  <div class="ml-1">
    <h1 class="text-left mb-4">{% translate 'Tasks' %}</h1>

    <div class="row justify-content-center">
      <div class="col-12 text-left mb-3">
        <form action="{% url 'task_create' %}" method="get">
          <input class="btn btn-outline-info btn-sm col-auto text-uppercase" type="submit" value="{% translate button|default:'Create task' %}">
        </form>
      </div>
    </div>

    <div class="row justify-content-left col-auto col-lg-6 card-body bg-white rounded">
      <form action="/tasks/" method="get" class="needs-validation" novalidate>
        <div class="form-group">
          {% csrf_token %}
          <table class="table table-borderless table-sm" required>
            {{ form }}
          </table>
          <div class="col-12 text-right">
            <input class="btn btn-outline-info btn-md col-lg-3 col-md-3 col-sm-4 text-uppercase" type="submit" value="{% translate button|default:'Filter' %}">
          </div>
        </div>
      </form>
    </div>

    <div class="row justify-content-center mt-3">
      <table class="table table-hover mx-1 table-responsive-md">
        <thead>
          <tr>
            <th>{% translate 'ID' %}</th>
            <th>{% translate 'Task name' %}</th>
            <th>{% translate 'Status' %}</th>
            <th>{% translate 'Creator' %}</th>
            <th>{% translate 'Assignee' %}</th>
            <th>{% translate 'Creation date' %}</th>
            <th>{% translate 'Actions' %}</th>
          </tr>
        </thead>
        {% for task in object_list %}
          <tr>
            <td class="align-middle">{{ task.id }}</td>
        <td class="align-middle wrapped-word"> <a href={% url "task_show" task.id %}>{{ task.name }}</a></td>
            <td class="align-middle wrapped-word">{{ task.status }}</td>
            <td class="align-middle wrapped-word">{{ task.assigned_by }}</td>
            <td class="align-middle wrapped-word">{{ task.executor }}</td>
            <td class="align-middle">{{ task.created_at }}</td>
            <td class="align-middle">
              <form action="{% url 'task_update' id=task.id %}" method="get" rel="nofollow">
                {% csrf_token %}
                <button type="submit" class="btn btn-link text-left btn-sm mb-1 btn-block">{% translate 'Update' %}</button>
              </form>
              <form action="{% url 'task_delete' id=task.id %}" method="get" rel="nofollow">
                {% csrf_token %}
                <button type="submit" class="btn btn-link text-left btn-sm mt-1 btn-block">{% translate 'Delete' %}</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>

  </div>

{% endblock %}
